@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #060606;
    --bg-secondary: #111214;
    --bg-tertiary: #171718;

    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
    /* 
    --bg-main: #1E1E20;
    --bg-secondary: #252529;
*/
}

@font-face {
    font-family: Inter;
    src: "Inter-VariableFont_slnt\,wght.ttf";
}